BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SER" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row4" IO_TYPE=LVCMOS33 ;
LOCATE COMP "row1" SITE "N8" ;
LOCATE COMP "row2" SITE "P8" ;
LOCATE COMP "row3" SITE "N7" ;
LOCATE COMP "row4" SITE "P7" ;
LOCATE COMP "SCK" SITE "J2" ;
LOCATE COMP "RCK" SITE "H3" ;
LOCATE COMP "SER" SITE "G3" ;
LOCATE COMP "led0" SITE "N13" ;
LOCATE COMP "led1" SITE "P12" ;
LOCATE COMP "led2" SITE "P11" ;
LOCATE COMP "led3" SITE "N9" ;
LOCATE COMP "col1" SITE "L3" ;
LOCATE COMP "col2" SITE "N5" ;
LOCATE COMP "col3" SITE "P6" ;
LOCATE COMP "col4" SITE "N6" ;
LOCATE COMP "clock" SITE "C1" ;
