BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clock" SITE "C1" ;
LOCATE COMP "but0" SITE "L14" ;
LOCATE COMP "but1" SITE "M13" ;
LOCATE COMP "but2" SITE "M14" ;
LOCATE COMP "but3" SITE "N14" ;
LOCATE COMP "col[0]" SITE "L3" ;
LOCATE COMP "col[1]" SITE "N5" ;
LOCATE COMP "col[2]" SITE "P6" ;
LOCATE COMP "col[3]" SITE "N6" ;
LOCATE COMP "RCK" SITE "H3" ;
LOCATE COMP "SCK" SITE "J2" ;
LOCATE COMP "SER" SITE "G3" ;
LOCATE COMP "buzzer" SITE "P13" ;
LOCATE COMP "led0" SITE "N13" ;
LOCATE COMP "led1" SITE "M12" ;
LOCATE COMP "led2" SITE "P12" ;
LOCATE COMP "led3" SITE "M11" ;
LOCATE COMP "led4" SITE "P11" ;
LOCATE COMP "led5" SITE "N10" ;
LOCATE COMP "led6" SITE "N9" ;
LOCATE COMP "led7" SITE "P9" ;
LOCATE COMP "row[0]" SITE "N8" ;
LOCATE COMP "row[1]" SITE "P8" ;
LOCATE COMP "row[2]" SITE "N7" ;
LOCATE COMP "row[3]" SITE "P7" ;
