BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "col[0]" SITE "L3" ;
LOCATE COMP "col[1]" SITE "N5" ;
LOCATE COMP "col[2]" SITE "P6" ;
LOCATE COMP "col[3]" SITE "N6" ;
LOCATE COMP "RCK" SITE "H3" ;
LOCATE COMP "SCK" SITE "J2" ;
LOCATE COMP "SER" SITE "G3" ;
LOCATE COMP "row[0]" SITE "N8" ;
LOCATE COMP "row[1]" SITE "P8" ;
LOCATE COMP "row[2]" SITE "N7" ;
LOCATE COMP "row[3]" SITE "P7" ;
IOBUF PORT "clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "but0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "but1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "but2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "but3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SER" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row[3]" IO_TYPE=LVCMOS33 ;
