BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "fclock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fkey_down" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fkey_menu" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fkey_reset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fkey_up" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fled8[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "fkey_down" SITE "L14" ;
LOCATE COMP "fkey_menu" SITE "M13" ;
LOCATE COMP "fkey_reset" SITE "M14" ;
LOCATE COMP "fkey_up" SITE "N14" ;
LOCATE COMP "fled8[0]" SITE "N13" ;
LOCATE COMP "fled8[1]" SITE "M12" ;
LOCATE COMP "fled8[2]" SITE "P12" ;
LOCATE COMP "fled8[3]" SITE "M11" ;
LOCATE COMP "fled8[4]" SITE "P11" ;
LOCATE COMP "fled8[5]" SITE "N10" ;
LOCATE COMP "fled8[6]" SITE "N9" ;
LOCATE COMP "fled8[7]" SITE "P9" ;
LOCATE COMP "fclock" SITE "C1" ;
