BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "button1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "button2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[8]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "led1[0]" SITE "M2" ;
LOCATE COMP "led1[1]" SITE "N2" ;
LOCATE COMP "led1[2]" SITE "P2" ;
LOCATE COMP "led2[0]" SITE "M3" ;
LOCATE COMP "led2[1]" SITE "N3" ;
LOCATE COMP "led2[2]" SITE "P4" ;
LOCATE COMP "seg1[0]" SITE "A10" ;
LOCATE COMP "button1" SITE "L14" ;
LOCATE COMP "button2" SITE "M13" ;
LOCATE COMP "clk_in" SITE "C1" ;
LOCATE COMP "seg1[1]" SITE "C11" ;
LOCATE COMP "seg1[2]" SITE "F2" ;
LOCATE COMP "seg1[3]" SITE "E1" ;
LOCATE COMP "seg1[4]" SITE "E2" ;
LOCATE COMP "seg1[5]" SITE "A9" ;
LOCATE COMP "seg1[6]" SITE "B9" ;
LOCATE COMP "seg1[7]" SITE "F1" ;
LOCATE COMP "seg1[8]" SITE "C9" ;
LOCATE COMP "seg2[0]" SITE "C12" ;
LOCATE COMP "seg2[1]" SITE "B14" ;
LOCATE COMP "seg2[2]" SITE "J1" ;
LOCATE COMP "seg2[3]" SITE "H1" ;
LOCATE COMP "seg2[4]" SITE "H2" ;
LOCATE COMP "seg2[5]" SITE "B12" ;
LOCATE COMP "seg2[6]" SITE "A11" ;
LOCATE COMP "seg2[7]" SITE "K1" ;
LOCATE COMP "seg2[8]" SITE "A12" ;
